Siga-me:
<div id="stalker">
  {% if site.data.theme.social.github %}
  <a title="{{ site.data.theme.social.github }} on Github" href="https://github.com/Balajhones">
    <i class="fa fa-github-square"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social.stackoverflow %}
  <a title="{{ site.data.theme.name }} on Stack Overflow" href="https://pt.stackoverflow.com/users/105905/balajhones">
    <i class="fa fa-stack-overflow"></i>
  </a>
  {% endif %}

  {% if site.data.theme.social.linkedin %}
  <a title="{{ site.data.theme.name }} on LinkedIn" href="https://www.linkedin.com/in/henrique-balaton-9a90b827/">
    <i class="fa fa-linkedin-square"></i>
  </a>
  {% endif %}


</div>
